* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: #fffefc;
}

html,
body {
  overflow-x: hidden;
}
section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
  width: 100%;
  
  padding: 0 93px;
  overflow-x: hidden;
}

.gray-text {
  color: #707070;
}

.coffee-color {
  color: #603809;
}