header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 93px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 999;
  color: white;
}

nav a {
  margin: 0 40px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  font-family: "Playfair Display", normal;
  font-size: 14px;
  font-weight: 500;
}

nav a:hover {
  color: #ffc107;
}

.logo {
  font-family: "Clicker Script", normal;
  font-size: 35px;
  font-weight: 400;
}